<input type="checkbox" id="nav-toggle" />
<div class="sidebar">
  <div class="sidebar-menu">
    <ul>
      <li>
        <a
          (click)="toggleComponent('dashboard')"
          [class.active]="currentComponent === 'dashboard'"
        >
          <span class="fas fa-tachometer-alt"></span>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a
          (click)="toggleComponent('task')"
          [class.active]="currentComponent === 'task'"
        >
          <span class="fas fa-plus-circle"></span>
          <span>Create Task</span>
        </a>
      </li>
      <li>
        <a
          (click)="toggleComponent('manage-task')"
          [class.active]="currentComponent === 'manage-task'"
        >
          <span class="fas fa-tasks"></span>
          <span>Manage Task</span>
        </a>
      </li>
      <li>
        <a
          (click)="toggleComponent('update-task')"
          [class.active]="currentComponent === 'update-task'"
        >
          <span class="fas fa-edit"></span>
          <span>Update Task</span>
        </a>
      </li>
      <li (click)="logout()">
        <a
          (click)="toggleComponent('logout')"
          [class.active]="currentComponent === 'Logout'"
        >
          <span class="fas fa-sign-out-alt"></span>
          <span>Logout</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="main-content">
  <header>
    <h2>
      <label for="nav-toggle">
        <span class="fas fa-bars"></span>
      </label>
      {{ currentComponent }}
    </h2>
  </header>
  <main>
    <div class="main__container">
      <div *ngIf="currentComponent === 'dashboard'">
        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
          <h3 class="font-weight-bold">Welcome {{ currentUser.name }}</h3>
          <h6 class="font-weight-normal mb-0">
            All systems are running smoothly! You have
            <span class="text-primary"
              >{{ pendingTasksCount }} Pending Tasks !</span
            >
          </h6>
        </div>
        <div class="container">
          <div class="card" id="card1">
            <h2>Task Expiring Soon</h2>
            <p>Title: {{ endingSoonTask?.title || "N/A" }}</p>
            <p>Status: {{ endingSoonTask?.status || "N/A" }}</p>
            <p>Priority: {{ endingSoonTask?.priority || "N/A" }}</p>
            <p>
              End Date:
              {{ endingSoonTask?.dueDate | date : "longDate" || "N/A" }}
            </p>
          </div>
          <div class="card" id="card2">
            <h2>Total Tasks</h2>
            <p>{{ totalTasks }}</p>
          </div>
          <div class="card" id="card3">
            <h2>Pending Tasks</h2>
            <p>{{ pendingTasksCount }}</p>
          </div>
          <div class="card" id="card4">
            <h2>High & Medium Priority Tasks</h2>
            <p>Total: {{ highMediumPriorityTasksCount }}</p>
          </div>
        </div>
      </div>

      <div *ngIf="currentComponent === 'task'">
        <app-task-creation></app-task-creation>
      </div>

      <div *ngIf="currentComponent === 'manage-task'">
        <app-task-list></app-task-list>
      </div>

      <div *ngIf="currentComponent === 'update-task'">
        <app-task-update></app-task-update>
      </div>
    </div>
  </main>
</div>
