<div class="task-creation-container">
  <h2>Create a New Task</h2>
  <form class="form" (ngSubmit)="createTask()" [formGroup]="taskForm">
    <div class="flex">
      <label>
        <span>Title</span>
        <input
          required
          placeholder=""
          type="text"
          class="input"
          id="title"
          formControlName="title"
        />
      </label>
      <label>
        <span>Due Date</span>
        <input
          required
          placeholder=""
          type="date"
          class="input"
          id="dueDate"
          formControlName="dueDate"
        />
      </label>
    </div>

    <label>
      <span>Description</span>
      <input
        required
        placeholder=""
        type="text"
        class="input"
        id="description"
        formControlName="description"
      />
    </label>
    <label>
      <span>Priority</span>
      <select required class="input" id="priority" formControlName="priority">
        <option value="high">High</option>
        <option value="medium">Medium</option>
        <option value="low">Low</option>
      </select>
    </label>

    <button type="submit" class="create-button submit">Create Task</button>
  </form>
</div>
