<div class="task-updation-container">
  <h2>Update Existing Task</h2>
  <form
    class="form task-update"
    [formGroup]="taskForm"
    (ngSubmit)="updateTask()"
  >
    <div class="form-group flex">
      <label>
        <span>Task ID:</span>
        <input
          type="number"
          id="taskId"
          formControlName="taskId"
          required
          class="input"
        />
      </label>
      <label>
        <span>Title:</span>
        <input
          type="text"
          id="title"
          formControlName="title"
          required
          class="input"
        />
      </label>
    </div>
    <div class="form-group">
      <label>
        <span>Description:</span>
        <textarea
          id="description"
          formControlName="description"
          required
          class="input"
        ></textarea>
      </label>
    </div>
    <div class="form-group">
      <label>
        <span>Due Date:</span>
        <input
          type="date"
          id="dueDate"
          formControlName="dueDate"
          required
          class="input"
        />
      </label>
    </div>
    <div class="form-group">
      <label>
        <span>Priority:</span>
        <select id="priority" formControlName="priority" required class="input">
          <option value="high">High</option>
          <option value="medium">Medium</option>
          <option value="low">Low</option>
        </select>
      </label>
    </div>
    <div class="form-group">
      <label>
        <span>Status:</span>
        <select id="status" formControlName="status" required class="input">
          <option value="pending">Pending</option>
          <option value="completed">Completed</option>
          <option value="overdue">Overdue</option>
        </select>
      </label>
    </div>
    <button class="submit" type="submit">Update Task</button>
  </form>
</div>
